/node_modules
.env
statsPop.js
statsPop.ts
stats.json
states.json
starters.json
populateStarter.js
populateStarter.ts
populatePlaces.ts
populatePlaces.js
populate.js
populate.ts
fix.ts
fix.js
countries.json
data.json
mapData.json